.no-saved-locations
  No Saved Locations
.saved-locations
  .location-guidance
    To view/edit a location's settings, click on its name below.
  %table{class: 'table table-striped location-table'}
    %thead
      %tr.table-header
        %th.location-table-cell-fixed Name
        %th
    %tbody
